<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;overflow:auto;">
    <ul style="text-align: center;padding:20px;">
        <strong><li style="font-size: 20px;"><%= link_to "#{@current_user.company.name}'s Teams", teams_path %></li></strong> 
    </ul>

<h1 style="text-align: center;"><%= @team.name %></h1>

<%= render :partial => "teams/show_team" unless @user %>

    </div>
  </div>
</div>
