<h1><%= @team.name %></h1>

<% if !@team.positions.empty? %>
<% @team.positions.each do |position| %>
    <% if !position.id.nil? && !position.assigned_user.nil? %> <!-- take out one conditional after testing is complete -->
        <%= link_to "#{position.assigned_user.full_name}", team_user_path(@team.id, position.assigned_user.id) %>
    <% end %>
  <% end %>
<% else %>
    <p>You don't have any members in this team.</p>
<% end %>

<br><br><%= link_to "Create New User", team_path(@team, :show_user_form => true ) unless @user %>

<%= render :partial => 'users/form', :locals => { :user => @user } if @user %>
