<% if @tasks.nil? %>
    <br><p>You do not have any incomplete tasks!</p>
<% else %>
    <% @tasks.incomplete.each do |task|%>
        <% @task = task %>
        <div class="<%=display_progress(task)%>-inner-content">
        <%= link_to "#{task.title}", segment_task_path(task.segment, task) unless task.id.nil? %><br>
        <%= pretty_deadline(task) %><br>
        <%= render :partial => "tasks/completed_form" %>
        </div>
    <% end %>
<% end %>
