<br><br>Comments: <br><br>

<% @task.task_comments.each do |comment| %>
  <% if @task.task_comments.all == [] %>
    <p>There are no comments to view on this post.</p>
  <% else %>
      <% if !comment.id.nil? || !comment.content.nil?%>
        <%= comment.user.full_name %><br>
        <%= comment.content %>
        <%= link_to "delete", comment, :method => "delete" %>
    <% end %><br><br>
  <% end %>
<% end %>