<h1 style="text-align: center;"><%= @user.full_name %></h1>
<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<%= @user.email %><br><br>
<h5><%= @user.assigned_position ? "Title: #{@user.assigned_position.title}" : "This user has no assigned positions." %><br><br></h5>

<%= render :partial => "users/show_tasks" %>
    </div>
  </div>
</div>