<% if @company.projects.late.empty? %>
    <br><br><p>There are no past due Projects!</p>
<% else %>
    <% @company.projects.late.each do |project| %>
        <%= link_to "#{project.title}", admin_project_path(project) %><br>
        <%= pretty_deadline(project) %>
    <% end %>
<% end %>