<% if @project.nil? || @project.segments.empty? %>
    <p>Your team has no segments to complete</p>
<% else %>
    <% @project.segments.ordered.each do |segment| %>
        <div class="inner-content">
        <%= link_to("#{segment.title}", project_segment_path(segment.project.id, segment.id)) %><br>
        <%= "#{pretty_deadline(segment)}" %><br>
        Assigned Team: <%= link_to "#{segment.team.name}", team_path(segment.team) %><br>
        <%= segment.description %><br><br>
        </div>
    <% end %>
<% end %>