<% if @project.nil? %>
<% elsif @project.segments == [] %>
    <p>"You have no segments for this project"</p>
<% else %>
    <% @project.segments.each do |segment| %>
        <%= link_to("#{segment.title}", project_segment_path(@project.id, segment.id)) %><br>
        <%= "#{segment.description}" %><br><br>
    <% end %>
<% end %>