<% if @project.nil? || @project.segments.empty? %>
    <p>Your team has no segments to complete</p>
<% else %>
    <% @project.segments.ordered.each do |segment| %>
    <% @segment = segment %>
        <%= link_to("#{segment.title}", team_leader_project_segment_path(segment.project.id, segment.id)) %><br>
        <%= "#{segment.deadline}" %><br>
        <%= "#{segment.description}" %><br><br>
        <%= render :partial => "team_leader/segments/completed_form" %><br><br>

    <% end %>
<% end %>