<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<% if !@team.positions.empty? %>
<% @team.positions.each do |position| %>
        <p style="font-size: 20px;"><%= link_to "#{position.assigned_user.full_name}", team_leader_team_user_path(@team.id, position.assigned_user.id) %> 
        - <%= position.title %></p>
        <%= position.assigned_user.email %><br>
        <%= link_to "View #{position.assigned_user.first_name}'s active tasks", team_leader_team_user_path(@team.id, position.assigned_user.id) %><br><br>
    <% end %><br><br>
<% else %>
    <p>You don't have any members in this team.</p>
<% end %>
    </div>
  </div>
</div>