/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

  header {
    text-align: center;
  }

  .views {
    text-align: right;
  }

  body {
    background: url() no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

 .col-lg, .col-lg-7 {
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.3em;
    overflow: auto;
    font-family:Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  } 

  a {
    color: black;
    font-weight: bold;
  }

  .home-col {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  }


  .col-content {
    box-shadow: 0 0 10px;
    margin-bottom:2.5px;
    padding: 2.5px;
  }

  .incomplete-col-content {
    box-shadow: 0 0 10px;
    margin-bottom:2.5px;
    padding: 2.5px;
    background: linear-gradient(135deg, rgb(245, 91, 91) 0%, rgb(245, 91, 91) 5%, transparent 0%, transparent 100%);
  }

  .completed-col-content {
    box-shadow: 0 0 10px;
    margin-bottom:2.5px;
    padding: 2.5px;
    background: linear-gradient(135deg, rgb(156, 195, 146) 0%, rgb(173, 240, 156) 5%, transparent 0%, transparent 100%);
  }

  .inner-content {
    box-shadow: inset 0 0 10px;;
    margin: 15px;
    border-radius: 1%;
  }

  .incomplete-inner-content {
    box-shadow: inset 0 0 10px;;
    margin: 15px;
    border-radius: 1%;
    background: linear-gradient(135deg, rgb(245, 91, 91) 0%, rgb(245, 91, 91) 5%, transparent 0%, transparent 100%);
  }

  .completed-inner-content {
    box-shadow: inset 0 0 10px;;
    margin: 15px;
    border-radius: 1%;
    background: linear-gradient(135deg, rgb(156, 195, 146) 0%, rgb(173, 240, 156) 5%, transparent 0%, transparent 100%);

  }

  .logo {
    text-align: left;
  }

  .field_with_errors {
    text-align: left;
  }



  
    
