/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

  body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.42908501291141454) 70%, rgba(1,0,0,0.42908501291141454) 99%);
  }

 .col-lg, .col-lg-8 {
    height: 90vh;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family:Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
    font-size: 1.3em;
    overflow: auto;
    padding: 3px;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  } 

  a {
    color: black;
    font-weight: bold;
  }

  .home-col {
    border-style: groove;
    border-color: black;
    border-width: 3px;
  }

  .left-col-content {
    border-style: inset;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    padding: 1px;
  }
    
