<div id="container-fluid">
  <div class="row">
    <div class="col-lg" style="border:1px solid #ccc;overflow:auto;"><br>
    <h1>New Team</h1>

<%= form_for [:admin, @team] do |team_builder| %>
Team Name: <br><%= team_builder.text_field :name %><br><br>
Team Description: <br><%= team_builder.text_area :description %><br><br>

<%= team_builder.submit "Submit Team" %><br><br>

<% end %>
</div>
</div>
</div>
