<% if !@team.positions.empty? %>
    <% @team.positions.each do |position| %>
        <% if position.id %>
          <div class="inner-content">
              <h2 style="margin:0%;"><%= link_to "#{position.assigned_user.full_name}", admin_team_user_path(@team.id, position.assigned_user.id) %></h2>
              <%= position.title %><br>
              <%= position.assigned_user.email %><br><br>
              <%= link_to "View #{position.assigned_user.first_name}'s active tasks", admin_team_user_path(@team.id, position.assigned_user.id) %><br><br>
          </div>
        <% end %>
    <% end %><br>
<% else %>
    <p>You don't have any members in this team.</p>
<% end %>
  